.about-us-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: var(--box-shadow);
  background-color: #fff;
}

.about-us-section h1 {
  margin-bottom: 20px;
}

.about-us-gallery {
  position: relative;
  width: 100%;
  height: 400px;
  cursor: pointer;
}

.about-us-gallery-image1,
.about-us-gallery-image2,
.about-us-gallery-image3,
.about-us-gallery-image4,
.about-us-gallery-image5,
.about-us-gallery-image6,
.about-us-gallery-image7 {
  position: absolute;
  border: 2px solid white;
  border-radius: var(--border-radius);
}

.about-us-gallery-image1 {
  z-index: 2;
  width: 31%;
  top: 8%;
  left: 13%;
}

.about-us-gallery-image2 {
  z-index: 3;
  width: 32%;
  top: 1%;
  left: 48%;
}

.about-us-gallery-image3 {
  z-index: 3;
  width: 33%;
  top: 30%;
  left: 29%;
}

.about-us-gallery-image4 {
  z-index: 3;
  width: 40%;
  top: 53%;
  left: 13%;
}

.about-us-gallery-image5 {
  z-index: 4;
  width: 20%;
  top: 22%;
  left: 66%;
}

.about-us-gallery-image6 {
  z-index: 3;
  width: 20%;
  top: 44%;
  left: 55%;
}
