.litter-card {
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  margin-bottom: 30px;
}
.litter-card img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 0.5;
}
.litter-card .litter-name {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 35px;
}
