.main-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 24px;
}
.layoutCatCardLeftColumn {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start !important;
  width: 100%;
}
.layoutCatCardRightColumn {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end !important;
  width: 100%;
}
