.main-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 24px;
}
.mainMiddleColumn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
