.litterSection {
  width: 80%;
}

.title {
  text-align: center;
}

.parents {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 100px 0;
}

.parentCard img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.parentCard h2 {
  text-align: center;
  padding-top: 10px;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.childCard {
  display: flex;
  gap: 30px;
  /* margin: 0 auto;
  width: 60%; */
}

.childCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.availability {
  background-color: aqua;
  display: inline;
  padding: 0 3px 3px 3px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}
