.litterSection {
  width: 80%;
}

.title {
  text-align: center;
}

.parents {
  display: flex;
  justify-content: space-between;
  margin: 0 0 100px 0;
}

.parentCard {
  padding-top: 25px;
  padding-bottom: 35px;
  box-shadow: var(--box-shadow);
}

.parentCard img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.parentCard h2 {
  text-align: center;
  padding-top: 10px;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.childCard {
  display: flex;
  gap: 30px;
  box-shadow: var(--box-shadow);
  /* margin: 0 auto;
  width: 60%; */
  border: 3px solid white;
  background: white;
  border-radius: 12px;
}

.childCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.availability {
  background-color: aqua;
  display: inline;
  padding: 0 3px 0 3px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
