/* .section {
  padding: 20px;
} */

.title {
  text-align: center;
}

.litter-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 0;
}

.litter-gallery .gallery-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.parents {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.parentCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.childCard {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: 60%;
}

.childCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.pagination {
  display: flex;
  justify-content: space-between;
}
