.home-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 24px;
}

.home-grid .litter-card {
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  margin-bottom: 30px;
}

.home-grid .litter-card img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.home-grid .litter-card img {
  aspect-ratio: 1 / 0.5;
}

.home-grid .cat-card .cat-name,
.home-grid .litter-card .litter-name {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 35px;
}
