/* .home-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 24px;
} */

.home-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: var(--box-shadow);
}
