.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: var(--box-shadow);
}
