.cat-section .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.cat-section .galleryImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.parents {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.parentCard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}
