.catSection {
  width: 80%;
}
.parents {
  padding-top: 10px;
}
.parents h3 a {
  margin-left: 10px;
}
.parents h3 a:last-child {
  margin-left: 20px;
}
.parent-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}
.title {
  margin-top: 30px;
  margin-bottom: 10px;
}
.data p {
  margin-bottom: 0px;
}
