a {
  background-color: transparent;
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: none;
  text-underline-offset: 2px;
}

a:hover {
  text-decoration: none;
}

/* zabezpieczenie dla <Link><h1 /></Link> */
a * {
  text-decoration: none;
}
