header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo-and-main-menu {
  /* display: flex;
  justify-content: space-between; */
  max-width: 1200px;
  margin: 0 auto;
}
.main-menu ul {
  display: flex;
  justify-content: center;
}
.main-menu li {
  padding: 15px;
}
/* .main-menu li:last-child {
  margin-right: 0;
} */
.logo a {
  font-size: var(--font-lg);
}
