header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo-and-main-menu {
  max-width: 1200px;
  margin: 0 auto;
}
.main-menu ul {
  display: flex;
  justify-content: center;
}
.main-menu li {
  padding: 15px;
}
.logo a {
  font-size: var(--font-lg);
}
