header {
  padding-bottom: 15px;
}
.logo-and-main-menu {
  max-width: 1200px;
  margin: 0 auto;
}
.main-menu ul {
  display: flex;
  justify-content: center;
}
.main-menu li {
  padding: 15px;
}
.logo a {
  font-size: var(--font-lg);
}
.border-bottom-visible {
  border-bottom: 3px solid #7026b9;
  padding-bottom: 6px;
}
.border-bottom-hidden {
  border-bottom: 0;
  padding-bottom: 6px;
}
