.homeGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 24px;
}

.section {
  padding: 0 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catCard {
  border: 1px solid black;
  border-radius: 12px;
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}
