.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 10px; */
  margin-left: -20px;
  margin-right: -20px;
}
.gallery-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin: 10px;
  cursor: pointer;
}
/* The Modal (background) */
.modal {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

/* Modal content (image) */
.modal-content {
  position: relative;
  width: 90%;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
  overflow: hidden;
  animation: zoomIn 0.5s;
}
@keyframes zoomIn {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}

/* Caption of modal image */
.caption {
  position: absolute;
  bottom: 6%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

.prev,
.next {
  position: absolute;
  top: 10px;
  right: 15px;
  /* color: #ffffff; */
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}

.prev {
  left: 1%;
  top: 50%;
  width: fit-content;
}

.next {
  right: 1%;
  top: 50%;
  width: fit-content;
}
