.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.gallery :global(.gatsby-image-wrapper) {
  height: -webkit-fill-available;
}

/* małe */
.galleryImage {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

/* DUŻE */
.bigImage {
  grid-column: span 2;
  grid-row: span 2;
}
/* wymuszenie wypełnienia */
.galleryImage :global(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
