.bread-crumbs-menu ul {
  display: flex;
  justify-content: flex-start;
}

.bread-crumbs-menu ul li {
  list-style: none;
  margin-right: 10px;
}

.bread-crumbs-menu ul li a {
  text-decoration: none;
}
