.oldCatsCatCard {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  width: 100%;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: var(--box-shadow);
}
.oldCatsCatCardCardLink {
  display: flex !important; /* KLUCZ */
  width: 100% !important; /* KLUCZ */
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.oldCatsCatCardImageWrapper {
  flex-shrink: 0; /* obraz NIE będzie się ściskał */
}

.oldCatsCatCardCatName {
  margin: 0;
  text-align: right;
}
