/* .old-cats-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.old-male-cats-section,
.old-female-cats-section {
  width: 25%;
} */

/* .old-cats-section img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
} */
