/* .oldCatsCatCard {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  width: 100%;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: var(--box-shadow);
}
.oldCatsCatCardCardLink {
  display: flex !important;
  width: 100% !important;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.oldCatsCatCardImageWrapper {
  flex-shrink: 0;
}

.oldCatsCatCardCatName {
  margin: 0;
  text-align: right;
} */

.oldMaleCatsSection ul,
.oldFemaleCatsSection ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oldCatsCatCard {
  width: 80%;
  align-self: center;
}
