.oldCatsCatCard img {
  aspect-ratio: 1 / 0.5;
}

.oldMaleCatsSection ul,
.oldFemaleCatsSection ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oldCatsCatCard {
  width: 80%;
  align-self: center;
}
